STATION_NAME="Radio Orania"

STREAM_URL="https://stream.radio.co/s7adaa782c/listen"
BACKUP_STREAM_URL=""

ALSA_DEVICE="default"

MUSIC_WEIGHT="4"
SWEEPER_WEIGHT="1"

STREAM_BUFFER_MAX="10"

PLAYLIST_RELOAD="1000"
PLAYLIST_PREFETCH="10"

HEARTBEAT_URL=""

INSTALL_FILEBROWSER="yes"

FILEBROWSER_ADDRESS="0.0.0.0"
FILEBROWSER_PORT="8081"

INSTALL_RESTART_TIMER="no"
RESTART_SCHEDULE="06:30 13:30"
RESTART_PUSH_URL=""

INSTALL_DASHBOARD="no"
ICECAST_PORT="8008"
ICECAST_SOURCE_PASSWORD=""
