STATION_NAME="Radio Orania"

STREAM_URL="https://stream.radio.co/s7adaa782c/listen"

ALSA_DEVICE="default"

MUSIC_WEIGHT="4"
SWEEPER_WEIGHT="1"

PLAYLIST_RELOAD="1000"
PLAYLIST_PREFETCH="10"

HEARTBEAT_URL=""

INSTALL_FILEBROWSER="yes"

FILEBROWSER_ADDRESS="0.0.0.0"
FILEBROWSER_PORT="8081"
