[Unit]
Description=Radio Orania Heartbeat
After=network-online.target radio-orania.service
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/radio-orania/monitoring/heartbeat.sh

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target