[Unit]
Description=Radio Sender: __STATION_NAME__
After=network-online.target

[Service]
Type=simple
User=radio-orania
Restart=always
RestartSec=5

ExecStart=/usr/bin/liquidsoap \
  /opt/radio-orania/liquidsoap/radio.liq

[Install]
WantedBy=multi-user.target